.primary-text{
    font-family: 'Merriweather', serif;
  
}
.secondary-text{ 
    font-family: 'Inter', sans-serif;
}    

/* header-start */

.header{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,
                 url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: 50px auto;
    width: 1320px;
    height: 600px;
    margin-bottom: 0px;
    
}
    
.header-content h1{
    font-size: 72px;
}
.header-content h3{
    font-size: 32px;
}
.header-content {
    color: #FFF;
    text-align: center;
    padding: 175px 300px;
}

/* first section strat */

.first-section h2{
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 0px;
    color: #F00;
    text-align: center;
}
.first-section p{
    font-size: 24px;
    margin-top: 45px;
    margin-bottom: 0px;
    color: #F00;
    text-align: center;
}
.first-section-content h4{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
}
.first-section img{
    width: 802.9px;
    height: 500px;
    margin: auto;
    display: block;
}

/* Second-section-start */

.second-section{
    background:  linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,
                 url('../resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    margin: 120px auto ;
    display: flex;
    
}
.second-section-header h1{
    color: #FFF;
    font-size: 64px;
    padding: 100px 90px 0px 125px ;
}
.second-section img{
    
    width: 320px;
    height: 460px;
    padding: 68px ;
    
}
.second-section-header p{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    padding: 0px 40px 20px 125px;
    
}
.second-section-header button{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase; 
    background: none;
    border: none;
    padding: 0px 600px 140px 160px;
}

/* Third-section-start */

.third-section{
    width: 1320px;
    height: 482px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);;
    margin: 0px auto;
    border-radius: 10px;
}
.third-section-content{
   text-align: center;
}
.third-section .flex1{
    padding-bottom: 5px;
}
.third-section .flex2{
    padding-top: 0px;
}
.third-section .flex3{
    padding-top: 10px;
}
.third-section  .red-color{
    color: #F00;
   
}
.third-section .flex{ 
    font-size: 32px;
    padding: 100px 385px 50px 385px;

}
.third-section-content button{
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #F00;
    color: #FFF ;
    text-transform: uppercase;
    border: none;
}

/* Forth-section */

.forth-section{
    display: flex; 
    justify-content: space-around;
    width: 1320px;
    height: 482px;
    margin: 120px auto ;
    
}
.forth-section-first-column h6{
    color: #F00;
    
    font-size: 24px;
    margin-bottom: 0px;
}
.forth-section-first-column h3{
    color: #070211;
    font-size: 48px;
    text-transform: capitalize;
   
    margin-top: 10px;
    margin-bottom: 25px;
}
.forth-section-first-column p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    width: 393px;
    margin-top: 0px;
}
.forth-section-second-column{
    width: 364.844px;
    height: 364.844px;
    border-radius: 364.844px;
    background: url(<path-to-image>), rgb(252, 249, 249) -91.279px 0px / 150.038% 100% no-repeat;
    border: 15px solid #F00;
    padding: 45px;
}
.forth-section-third-column h1{
    color: #F00;
    font-size: 48px;
    margin-bottom: 0px;
}
.forth-section-third-column p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    width: 276px;
    margin-bottom: 40px;
    margin-top: 5px;
}
.forth-section-third-column img{
    width: 140px;
    height: 140px;
    margin-top: 0px;
}

/* Fifth section start */

.fifth-section{
    width:1320px ;
    height: 960px;
    margin: 0 auto; 
}
.fifth-section-header{
    margin-bottom: 65px;
}
.fifth-section-header h6{
    color: #070211;
    font-size: 24px;
    text-align: center;
    margin-bottom: 0px;
}
.fifth-section-header .first-span{
    color: #F00;
    font-size: 72px;
}
.fifth-section-header .second-span{
    color: #070211;  
    font-size: 72px;
}
.fifth-section-header .fifth-section-headline{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 15px;
}
.fifth-section-header p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    text-align: center;
    width: 1068px;
    margin: 0px auto;
}
.fifth-section-main{
    display: flex;
}

.fifth-section-main .first-pic{
    margin-bottom: -200px;
    
}

.fifth-section-main .second-pic{
    width: 429px;
    height: 433px;
}

.fifth-section-footer{
    width: 1320px;
    height: 229px;
    border-radius: 16px 0px 16px 16px;
    background: #F00;
   
}

/* Sixth section start */

.sixth-section{
    width: 1320px;
    height: 1135px;
    margin: 120px auto;
}
.sixth-section-header h3{
    color: #F00;
    font-size: 24px;
    margin-bottom: 0px;
}
.sixth-section-header h1{
    color: #070211;
    font-size: 48px;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 20px;
}
.sixth-section-header p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    width: 896px;
    margin-top: 0px;
}
.sixth-section-body{
    margin-top: 50px;
}
.first-line{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.second-line{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
}
.sixth-section-body .first-line-img-one{
    width: 424px;
    height: 450px;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 0px -35.755px / 100% 142.115% no-repeat;
}
.sixth-section-body .first-line-img-two{
    width: 424px;
    height: 450px;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.sixth-section-body .first-line-img-three{
    width: 424px;
    height: 450px;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.sixth-section-body .second-line-img-one{
    width: 424px;
    height: 450px;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray -195.366px 0px / 156.077% 100% no-repeat;
}
.sixth-section-body .second-line-img-two{
    width: 424px;
    height: 450px;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.sixth-section-body .second-line-img-three{
    width: 424px;
    height: 450px;
    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/* Seventh section start*/

.seventh-section{
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 0px auto;

}
.seventh-section-content img{
    width: 150px;
    height: 150px;
    margin: 80px 585px 40px 585px;
}
.seventh-section-content h1{
    color: #070211;
    font-size: 48px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 0px;
}
.seventh-section-content p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    width: 896px;
    text-align: center;
    margin: 22px auto;
}

.seventh-section-email-box input{
    width: 648px;
    height: 72px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    border: none;
    padding-left: 100px;
}
.seventh-section-content #first-id{
    color: #080101;
    font-family: Inter;
    font-size: 20px;
    text-transform: capitalize;
    

}
.seventh-section-email-box button{
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
}
.seventh-section-content .seventh-section-span-one{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    text-transform: capitalize;
}
.seventh-section-content .seventh-section-email-box{
    text-align: center;
    margin-top: 48px;
}

/* Footer section start */

footer{
    width: 100%;
    height: 610px;
    background: #070211;
    margin-top: 120px;

}
.footer-header-first-part{
    color: #FFF;
    font-size: 24px;
    width: 450px;
    line-height: 40px;
}
.footer-header-second-part .footer-header-call-icon{
    width: 24px;
    height: 24px;
}
.footer-header-second-part .footer-header-first-span{
    color: #FFF;
    font-size: 24px;  
    margin-left: 10px;
}
.footer-header-second-part .footer-header-web-icon{
    width: 24px;
    height: 24px;
}
.footer-header-second-part .footer-header-second-span{
    color: #FFF;  
    font-size: 24px;
    margin-left: 10px;
}
.footer-header-second-part{
    line-height: 40px;
}
.footer-header{
    margin-left: 200px;
    margin-right: 250px;
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
}
.footer-body img{
    width: 64px;
    height: 64px;
    margin-right: 25px;
}
.footer-body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 0px;
}
.footer-footer{
    color: #FFF;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 90px;

}

/* End of the footer */